# Ignore Obsidian config file
.obsidian

# Ignore Visual Studio file
.vscode

# Ignore python cache folder
__pycache__/

# Ignore alpha version folder
v0.1_alpha/
bakFiles/

# Ignore DB Credentials
database_credentials.txt
.env

# Ignore debug log file
debug.log